<div class="modal" (click)="closeModal($event)">
  <div class="modal-content w-[50%] rounded-lg relative" *ngFor="let value of pokemonDetails">
    <img src="../assets/images/pokemon.png" alt="" [width]="100" class="absolute left-5 top-4">
    <i (click)="closeModal($event)"
      class="bi bi-x-square-fill close absolute right-5 top-4 text-slate-700 hover:text-slate-600 cursor-pointer text-base"></i>
    <section class="flex justify-between items-stretch max-sm:flex-col-reverse pt-14 ">
      <section class="pb-4">

        <h2 class="font-bold text-slate-600 text-5xl max-sm:text-3xl">{{value.name}}</h2>
        <div class="flex justify-start gap-2 items-center mt-3">

          <span *ngFor='let option of value.types'
            class="{{ option.type.name}} bg-gray-200 text-gray-600 rounded-xl hover:shadow-md p-1 w-[100px] text-center text-nowrap ">
            {{ option.type.name}}
          </span>

        </div>
        <div class="mt-8 mb-8">
          <div class="flex justify-start items-center gap-2 mb-3">
            <div>
              <span class="text-zinc-600 font-bold">Height</span>
              <div
                class="flex justify-center items-center bg-gray-200 text-gray-600 rounded-xl hover:shadow-md h-[40px] w-[100px] text-center text-nowrap">
                {{value.height}}</div>
            </div>
            <div>
              <span class="text-zinc-600 font-bold">Weight</span>
              <div
                class="flex justify-center items-center bg-zinc-200 text-zinc-600 rounded-xl hover:shadow-md h-[40px] w-[100px] text-center text-nowrap">
                {{
                value.weight}}</div>
            </div>
          </div>
          <span class="text-zinc-600 font-bold mt-2">Skills</span>
          <div class="grid grid-cols-1 grid-rows-2 gap-3">
            <div *ngFor='let option of value.abilities'
              class="flex justify-center items-center bg-zinc-200 text-zinc-600 rounded-xl w-[150px] h-[40px]">
              {{
              option.ability.name }}
            </div>
          </div>
        </div>
        <div class="mt-3">
          <span class="font-bold text-zinc-600">Stats</span>
          <div class="grid grid-cols-2 grid-rows-2 gap-1">
            <div class="grid place-items-center place-content-start mt-2" *ngFor="let stat of value.stats">
              <div class="flex justify-center items-center bg-zinc-200 text-zinc-600 rounded-xl w-[100px] h-[40px]">
                {{ stat.base_stat}}
              </div>
              <span class="font-light text-zinc-400 text-[15px]">
                {{ stat.stat.name }}
              </span>
            </div>


          </div>
        </div>
      </section>
      <section class="pt-1 pb-4">
        <h2 class="text-slate-600 text-5xl max-sm:text-3xl font-medium mb-3 ms-8">#0{{value.id}}</h2>
        <img class="ms-6 w-[97%] max-sm:w-[70%]" src="../assets/images/{{value.name}}.png" alt="">
      </section>
    </section>
  </div>
</div>


<main id="main" class="mt-[70px] relative"
  style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

  <div *ngIf="errors.length > 0" class="absolute top-[-50px] right-1 ">
    <div *ngFor="let erro of errors" class="p-3 bg-red-100 text-red-400 rounded-md mb-2 text-sm">
      {{ erro }}
    </div>
  </div>

  <section class="w-[75%] p-4 bg-white flex justify-evenly items-center max-sm:flex-col">
    <a href="#" class="relative">
      <h1 class="text-[40px] font-bold max-sm:">Pokedex</h1>
      <img class="w-6 h-6 absolute top-5 left-[30px]" src="../assets/images/ball.png" alt="">
    </a>
    <div class="relative w-[50%]  max-sm:w-[100%]">
      <input type="text" (change)="refresh($event)" (keyup.enter)="handleSearching($event)"
        class="hover:shadow-lg w-full max-sm:w-[100%] ps-6 py-[10px] text-black border-solid border-[2px] border-neutral-300 bg-neutral-100 rounded-xl text-[15px] max-sm:text-[13px]"
        placeholder="Enter your pokemon here!" [(ngModel)]="searching">
      <i class="bi bi-search absolute right-3 top-2 text-xl text-zinc-600 cursor-pointer "
        (click)="handleSearching($event)"></i>
    </div>
    <div class="text-zinc-500 max-sm:text-[11px] max-sm:mt-2">
      <label for="filter ">Filter by : </label>
      <select id="filter" name="filter" class="p-1">
        <option class="text-sm p-1" value="name">Name</option>
        <option class="text-sm p-1" value="id">Id</option>
      </select>
    </div>
  </section>

  <section class="w-[75%] mt-8 max-sm:mt-4">
    <h4 class="text-zinc-700 block text-2xl my-4 ">All types:</h4>
    <section class="grid grid-cols-10 max-sm:grid-cols-4 gap-1  ">
      <div
        class="element bg-zinc-200 text-zinc-600 rounded-xl hover:shadow-md p-[6px] max-sm:p-[1px] w-[88px] max-sm:w-[70px] max-sm:text-[13px]  text-center hover:translate-y-[-3px]"
        *ngFor="let type of types">
        {{ type }}</div>
    </section>
  </section>
  <section class="w-[85%] p-5 bg-white grid grid-cols-3 grid-rows-4 max-sm:grid-cols-1 max-sm:grid-rows-1 gap-4 mb-20 mt-11 max-sm:place-items-center">
    <div *ngFor='let poke of pokemons' class="p-4 bg-zinc-100 w-[20rem] h-[20rem] rounded-xl shadow-lg flex-col">

      <span class="font-bold">#0{{poke.id}}</span>
      <img class="mx-auto my-3 w-36 h-36" src="../assets/images/{{poke.name}}.png" alt="">
      <div class="flex justify-between items-baseline">
        <h4 class="text-4xl font-bold">{{ poke.name }}</h4>
        <span onclick="
        handleModal()
        " class="details text-zinc-500 cursor-pointer hover:underline hover:text-zinc-700"
          (click)="getData(poke)">Details</span>

      </div>
      <div class="flex justify-start items-center gap-2 mt-2">
        <span *ngFor='let option of poke.types'
          class="bg-gray-200 text-gray-600 {{option.type.name}} text-zinc-600 bg-zinc-200 rounded-xl hover:shadow-md p-1 w-[100px] text-center text-nowrap">
          {{ option.type.name}}
        </span>
      </div>
    </div>
  </section>
  <section class="flex justify-between items-center mt-[-10px] w-[85%]">
    <div *ngIf="isInitialPage"></div>
    <button class="flex gap-2 justify-center items-center" *ngIf='!isInitialPage'>
      <i class="bi bi-chevron-left text-neutral-500 text-2xl cursor-pointer hover:text-black hover:shadow-2xl"
        (click)="discrease()"></i>
      <span class="text-neutral-500 cursor-pointer hover:text-black hover:shadow-2xl max-sm:hidden" (click)="discrease()">Back</span>
    </button>
    <div class="flex justify-center items-center gap-3 self-center">
      <span
        class="bg-zinc-200 text-neutral-400 p-3 max-sm:p-1 max-sm:text-[13px] hover:bg-neutral-300 hover:text-zinc-500 hover:shadow-xl cursor-pointer"
        [ngClass]="{
        'pagination-active': actualPage == (i + 1)
      }" *ngFor='let pageNumber of numberofPages; let i = index' (click)="selectPage(i + 1)"> {{ i + 1 }}</span>
    </div>
    <div class="flex justify-center items-center gap-2" *ngIf="!isLastPage">
      <span (click)="increase()" class="text-neutral-500  cursor-pointer hover:text-black hover:shadow-2xl max-sm:hidden">Next</span>
      <i class="bi bi-chevron-right text-neutral-500 text-2xl cursor-pointer hover:text-black hover:shadow-2xl"
        (click)="increase()"></i>
    </div>
    <div *ngIf="isLastPage"></div>

  </section>
  <img src="../assets/images/pokemon.png" alt="" class="mt-[300px] max-sm:w-[200px]"  [width]="350">
  <div class="text-neutral-600 text-start text-[13px] max-sm:text-[9px] underline mt-[30px]">
    <a href="https://www.github.com/marionorberto" class="italic ">
      This pokedex was created by Mário Norberto <span class="font-bold">github.com/marionorberto</span>
    </a>
  </div>
  <section
    class="flex justify-between items-center w-[85%] pt-3 mt-11 mb-20 border-t-[2px] border-solid border-zinc-100">
    <div class="flex justify-between items-center gap-2">
      <a href="#" class="relative">
        <h1 class="font-bold">Pokedex - </h1>
        <img class="w-3 h-3 absolute top-[7px] left-[11px]" src="../assets/images/ball.png" alt="">
      </a>
      <span class="text-[15px] max-sm:text-[10px]"> <i class="bi bi-at p-0 text-[15px] max-sm:text-[10px] text-zinc-950 "></i>Copyright All rights
        Reserved.</span>
    </div>
    <div class="flex gap-4 justify-evenly items-center">
      <a href="https://www.github.com/marionorberto"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/marionorberto"><i class="bi bi-linkedin"></i></a>
    </div>
  </section>
  <a href="#"><i
      class="bi bi-chevron-up max-sm:p-[2px] max-sm:text-xl absolute bottom-36 max-sm:bottom-[124px] cursor-pointer  right-2 bg-black p-1 hover:bg-zinc-700 font-bold text-white text-2xl"></i></a>
</main>
