<main id="main" class="mt-[70px] relative"
  style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <section class="w-[75%] p-4 bg-white flex justify-evenly items-center">
    <a href="">
      <h1 class="text-[20px]">Pokedex</h1>
    </a>
    <div class="relative w-[50%] ">
      <input type="text"
        class="w-full ps-6 py-[10px] text-black border-solid border-[2px] border-neutral-300 bg-neutral-100 rounded-xl text-[15px]"
        placeholder="Enter your pokemon here!">
      <i class="bi bi-search absolute right-3 top-2 text-xl text-zinc-600"></i>
    </div>
    <div class="text-zinc-500">
      <label for="filter">Filter by : <i
          class="bi bi-chevron-down text-[12px] ms-1 pt-[2px] ps-[1px] pe-[1px] bg-black font-bold text-white"></i></label>
      <select id="filter" name="filter" class="bg-transparent hidden">
        <option value="type">Type</option>
        <option value="pokemon">Pokemon</option>
      </select>
    </div>
  </section>

  <section class="flex justify-center items-center gap-8 w-[75%] mt-8">
    <div
      class="element bg-blue-300 text-blue-600 rounded-xl hover:shadow-md p-[6px] w-[77px] text-center hover:translate-y-[-3px]">
      Water</div>
    <div
      class="element bg-emerald-300 text-emerald-600 rounded-xl hover:shadow-md p-[6px] w-[77px] text-center hover:translate-y-[-3px]">
      Plant</div>
    <div
      class="element bg-red-300 text-red-600 rounded-xl hover:shadow-md p-[6px] w-[77px] text-center hover:translate-y-[-3px]">
      Fire</div>
    <div
      class="element bg-gray-300 text-gray-600 rounded-xl hover:shadow-md p-[6px] w-[77px] text-center hover:translate-y-[-3px]">
      Electric</div>
    <div
      class="element bg-orange-300 text-orange-600 rounded-xl hover:shadow-md p-[6px] w-[77px] text-center hover:translate-y-[-3px] transition-[easy-in-out 0.7s]">
      Normal</div>
  </section>
  <section class="w-[85%] p-5 bg-white grid grid-cols-3 grid-rows-3 gap-4 mb-20 mt-11">
    <div class="card p-4 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg flex-col">
      <span class="font-bold">#0001</span>
      <div class="bg-yellow-300 mx-auto my-3 w-36 h-36">

      </div>
      <div class="flex justify-between items-baseline">
        <h4 class="text-4xl font-bold">Picatxu</h4>
        <a href="" class="text-zinc-500 cursor-pointer hover:underline hover:text-zinc-700">Details</a>
      </div>
      <div class="flex justify-start items-center gap-2 mt-2">
        <span class="bg-gray-200 text-gray-600 rounded-xl hover:shadow-md p-1 w-[77px] text-center">
          Electric
        </span>
        <span class="bg-blue-100 text-blue-600 rounded-xl hover:shadow-md p-1 w-[77px] text-center">
          Water
        </span>
      </div>
    </div>

    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>
    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>
    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>

    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>
    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>
    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>

    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>
    <div class="card p-3 bg-neutral-100 w-[20rem] h-[20rem] rounded-xl shadow-lg">
    </div>


  </section>
  <section class="flex justify-between items-center mt-[-10px] w-[85%]">
    <div class="flex gap-2 justify-center items-center">
      <i class="bi bi-chevron-left text-neutral-500 text-2xl cursor-pointer hover:text-black hover:shadow-2xl"></i>
      <span class="text-neutral-500 cursor-pointer hover:text-black hover:shadow-2xl">Back</span>
    </div>
    <div class="flex justify-center items-center gap-3">
      <span
        class="bg-zinc-200 text-neutral-400 p-3 hover:bg-neutral-300 hover:text-zinc-500 hover:shadow-xl cursor-pointer">1</span>
      <span
        class="bg-zinc-200 text-neutral-400 p-3 hover:bg-neutral-300 hover:text-zinc-500 hover:shadow-xl cursor-pointer">2</span>
      <span
        class="bg-zinc-200 text-neutral-400 p-3 hover:bg-neutral-300 hover:text-zinc-500 hover:shadow-xl cursor-pointer">3</span>
    </div>
    <div class="flex justify-center items-center gap-2">
      <span class="text-neutral-500  cursor-pointer hover:text-black hover:shadow-2xl">Next</span>
      <i class="bi bi-chevron-right text-neutral-500 text-2xl cursor-pointer hover:text-black hover:shadow-2xl"></i>
    </div>
  </section>
  <div class="text-neutral-600 text-start text-[13px] underline mt-20">
    <a href="https://www.github.com/marionorberto">
      created by Mário Norberto <span class="font-bold">github.com/marionorberto</span>
    </a>
  </div>
  <section
    class="flex justify-between items-center w-[85%] pt-3 mt-11 mb-20 border-t-[2px] border-solid border-zinc-100">
    <div class="flex justify-between items-center gap-2"><a href="">
        <h1>Podedex - </h1>
      </a>
      <span class="text-[15px]"> <i class="bi bi-at p-0 text-[15px] text-zinc-950"></i>Copyright All rights
        Reserved.</span>
    </div>
    <div class="flex gap-4 justify-evenly items-center">
      <a href="https://www.github.com/marionorberto"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/marionorberto"><i class="bi bi-linkedin"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
    </div>
  </section>
  <a href="#"><i
      class="bi bi-chevron-up absolute bottom-36 cursor-pointer  right-2 bg-black p-1 hover:bg-zinc-700 font-bold text-white text-2xl"></i></a>
</main>