@import url('../public/assets/fonts/bootstrap-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monserat';
  src: url('../public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Monserat';
  overflow-x: hidden;
}

.card {
    opacity: 0;
    filter: blur(70px);
    transition: all 1s ease-in-out;
}

.card:hover{
  border: 2px solid rgba(218, 243, 33, 0.2) ;

}

.card {
    transform: translateY(100%);
}

.card.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.card.show {
    transform: translateY(0);
}

.card:nth-child(2){
  transition-delay: 150ms;
}


.card:nth-child(3){
  transition-delay: 400ms;
}

.card:nth-child(4){
  transition-delay: 550ms;
}

.card:nth-child(5){
  transition-delay: 700ms;
}

.card:nth-child(6){
  transition-delay: 850ms;
}

.card:nth-child(7){
  transition-delay: 1050ms;
}

.card:nth-child(8){
  transition-delay: 1250ms;
}

.card:nth-child(9){
  transition-delay: 1350ms;
}


